.admin-dialog-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 2;
    padding-top: 150px;
}

.admin-dialog {
    background: #EAE9EBF2;
    margin: auto;
    max-width: 960px;
}

.admin-dialog__header {
    background: #63536C;
    padding: 16px 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 42px 14px 42px;
}

.admin-dialog__body {
    padding: 35px 105px;
    display: flex;
    flex-direction: column;
    gap:30px;
}

.admin-dialog__form {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
}

.admin-dialog__fields,
.admin-dialog__fields>div {
    display: flex;
    flex-direction: column;
}

.admin-dialog__fields {
    gap: 7px;
    width: 100%;
}

.admin-dialog__fields>div {
    gap: 2px;
}

.admin-dialog__fields label {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #848484;
}

.admin-dialog__header button {
    box-shadow: none;
    width: 22px;
    height: 22px;
    background-image: url("/public/images/close.png");
    background-size: cover;
    background-color: transparent;
}

.admin-dialog__buttons {
    display: flex;
    gap: 14px;
    justify-content: center;
}

@media (max-width:768px) {
    .admin-dialog__body {
        padding: 35px 10px;
    }

    .admin-dialog-overlay {
        padding-top: 121px;
    }
}

@media (max-width:480px) {
    .admin-dialog__buttons {
        flex-direction: column;
    }
    
}